*{
	margin: 0px;
	padding: 0px;
}
.lhh_header{
    width: 100%;
    height: 60px;
    background: #272e38;
    z-index: 1;
    min-width: 1050px;
}
.lhh_header>.lhh_ketang{
    padding-left: 45px;
    float: left;
    height: 60px;
    margin-right: 30px;
    width: 120px;
    transition: 0.5s;    
}
.lhh_header>.lhh_ketang>img{
    margin-top: 12px;
}
@media screen and (max-width: 1200px) {
    .lhh_ketang{
        display: none;
    }
}

.lhh_nav{
    margin-left: 80px;
    width: 780px;
    height: 60px;
    list-style: none;
    float: left;
    z-index: 3;
    min-width: 780px;
}

.lhh_header>.lhh_nav>li{
    float: left;
    width: 90px;
    height: 60px;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .lhh_nav{
        margin-left: 40px;
    }
}
@media screen and (max-width: 950px) {
    .lhh_nav{
        margin-left: 35px;
    }
    .lhh_header>.lhh_nav>li{
        margin-right: 10px;
    }
}


.lhh_header>.lhh_nav>li:nth-of-type(2){
    width: 15%;
    margin-left: -10px;
    margin-right: 10px;
    text-align: center;
}
.lhh_header>.lhh_nav>li>a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 900;
}
.lhh_header>.lhh_nav>li>a>img{
    width: 80px;
    /*margin-left: 30PX;*/
    margin-top: 0px;
}
.lhh_header>.lhh_nav>li:hover{
    background: rgba(0,0,0,0.2);
}
.lhh_header>.lhh_nav>li:nth-of-type(7):hover>.lhh_uls{
    display: block;
}
.lhh_header>.lhh_nav>li>.lhh_uls{
    width: 120px;
    padding-left: 0px;
    list-style: none;
    background: white;
    float: left;
    display: none;
    box-shadow: 0px 0px 10px -2px;
}
.lhh_header>.lhh_nav>li>.lhh_uls>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.lhh_header>.lhh_nav>li>.lhh_uls>li>a{
    text-decoration: none;
    color: #000000;
}
.lhh_header>.lhh_nav>li>.lhh_uls>li:hover{
    background: rgba(0,0,0,.15);
}
.lhh_header>.lhh_nav>li>.lhh_uls>li:nth-of-type(1){
    margin-top: 10px;
}
.lhh_header>.lhh_nav>li>.lhh_uls>li:nth-of-type(2){
    margin-bottom: 10px;
}
.lhh_header>.lhh_nav>li:nth-of-type(5):hover>.lhh_ull{
    display: block;
    
}
.lhh_header>.lhh_nav>li>.lhh_ull{
    width: 120px;
    padding-left: 0px;
    list-style: none;
    background: white;
    float: left;
    display: none;
    box-shadow: 0px 0px 10px -2px;
}
.lhh_header>.lhh_nav>li>.lhh_ull>li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.lhh_header>.lhh_nav>li>.lhh_ull>li>a{
    text-decoration: none;
    color: #000000;
}
.lhh_header>.lhh_nav>li>.lhh_ull>li:hover{
    background: rgba(0,0,0,.15);
}
.lhh_header>.lhh_nav>li>.lhh_ull>li:nth-of-type(1){
    margin-top: 10px;
}
.lhh_header>.lhh_nav>li>.lhh_ull>li:nth-of-type(2){
    margin-bottom: 10px;
}
/*ͷ���ұ�*/
.lhh_header>.lhh_header_right{
    position: relative;
    list-style: none;
    width: 170px;
    float: right;
}
.lhh_header>.lhh_header_right>li{
    width: 50px;
    height: 35px;
    color: white;
    border: 1px solid white;
    text-align: center;
    float: right;
    line-height: 35px;
    margin-top: 12px;
    margin-right: 20px;
    font-weight: 800;
    cursor: pointer;
}
.lhh_header>.lhh_header_right>li>a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.lhh_header>.lhh_header_right>li:nth-of-type(1){
    width: 50px;
    border: 1px solid #357ae8;
    background: #357ae8;
    
}
